
{
    "comments": false,
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "16"
          }
        }
      ]
    ],
    "plugins": [
      "source-map-support"
    ]
  }